<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Sigla</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estado of estados">
      <td><a [routerLink]="['/estado', estado.id]">{{estado.nome}}</a></td>
      <td>{{estado.sigla}}</td>
    </tr>
  </tbody>
</table>