<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let municipio of municipios">
      <td>{{municipio.nome}}</td>
    </tr>
  </tbody>
</table>